.menu-btn{
    height: 60%;
    width: 40px;
    @include flex_center(column);
    gap: 20%;
    cursor: pointer;
    @include responsive_visibility(flex,none);

    &__line{
        display: block;
        background-color: $light__white;
        width: 80%;
        height: 3px;
        transition: all 0.3s ease;

        &.menu-open{

           &:nth-child(1){
            opacity: 0;
        }

           &:nth-child(2){
            transform: rotate(-45deg);
        }

           &:nth-child(3){
            transform: rotate(45deg)translateY(-7px)translateX(-7px);          
        }
        }      
    }
}