@import '../MenuBtn/Menubtn.scss';
@import '../Nav/Nav.scss';

.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    @include padding_h_sm;
    height: 60px;
    background-color:$black;
    position: relative;
    z-index: 10;
    @include padding_h_sm;

    @media screen  and (min-width:1080px){
        @include padding_h_lg;
    } 
}


.logo{
      cursor: pointer;
      & img{
        width: 96px;
      }
}


.title{
  text-align: center;
  font-weight: normal;

    & .ph{
      display: block;
    }
}


.social-media__container{
  display: flex;
  gap: 15px;
  align-items: center;

   

    @media screen and (min-width:350px) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%); 
    }

    & img{
      width: 35px;
      padding-top: 5px;
    }
}




