@import '../MenuBtn/Menubtn.scss';
@import '../Nav/Nav.scss';

.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    @include padding_h_sm;
    height: 60px;
    background-color:$black;
    position: relative;
    z-index: 10;
    @include padding_h_sm;

    @media screen  and (min-width:1025px){
        @include padding_h_lg;
    } 
}


.logo{
      cursor: pointer;
      & img{
        width: 96px;
      }
}

.title{

}


.social-media__container{
  display: flex;
  gap: 15px;
  
    @media screen  and (min-width:1025px){
      position: absolute;
      left: 50%;
      transform: translateX(-50%);  
    } 

    & img{
      width: 40px;
    }
}




